 #navbar ul{
        display: none;
        background-color: #66074b;
        position: absolute;
        z-index: 33;
        top: 100%;
      }
      #navbar li:hover ul { display: block; }
      #navbar, #navbar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      #navbar {
        height: 40px;
        background-color: #259672;
        padding-left:65px;
        min-width: 470px;
       border-radius: 30px;
      }
      #navbar li {
        float: left;
        position: relative;
        height: 100%;
      }
      #navbar li a {
        display: block;
        padding: 6px;
        width: 100px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
      }
      #navbar ul li { float: none; }
      #navbar li:hover { background-color: #66074b; }
      #navbar ul li:hover { background-color: #259672; }
.f{
 left: 35%

}
.f1{
 left: 35%;
   min-width: ;
}
.h{
  height: 20px;
  width: 20px;
}
body{
  background-color: #4c3a56;
}
.product-price-old b,
.product-price-old small {
  color: #888;
}

.product-wrapper {
  display: block;
  width: 100%;
  float: left;
  transition: width .2s;
}
.product {
  display: block;
  border: 1px solid #b5e9a7;
  border-radius: 3px;
  position: relative;
  background: #fff;
  margin: 0 20px 20px 0;
  text-decoration: none;
  color: #474747;
  z-index: 0;
  height: 300px;
}
@media only screen and (min-width: 450px) {
  .product-wrapper {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .product-wrapper {
    width: 33.333%;
  }
}

@media only screen and (min-width: 1000px) {
  .product-wrapper {
    width: 25%;
  }
}
.product-photo {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}
.product-photo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transition: transform .4s ease-out;
}
.product:hover .product-photo img {
  transform: scale(1.05);
}
.product p {
  position: relative;
  margin: 0;
  font-size: 1em;
  line-height: 1.4em;
  height: 5.6em;
  overflow: hidden;
}
.g{
  height: 300px;
  width: 300px;
  margin-top: 1%;
  margin-right: 70px;
 
  background-color:#259672;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 30px;
 left: 50%;
 right: 50%;
 padding: 15px;
 color: #FFF;
 float:lef
 position:relative
}
.c{

  float: right;
 position:relative}
}